
hidden=[".config"]
modules = ["web", "nodejs-20"]

[nix]
channel = "stable-24_05"

[deployment]
publicDir = "/"
deploymentTarget = "static"

[workflows]
runButton = "Run Server"

[[workflows.workflow]]
name = "Run Server"
author = 41708006
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[ports]]
localPort = 5000
externalPort = 80
