hidden=[".config"]
modules = ["web", "nodejs-20"]

[nix]
channel = "stable-24_05"

[deployment]
publicDir = "/"
deploymentTarget = "static"

[workflows]
runButton = "Run Server"

[[workflows.workflow]]
name = "Run Server"
author = 41708006
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m http.server 5000 --bind 0.0.0.0"
