
hidden=[".config"]
modules = ["nodejs-20", "web"]
run = "node index.js"

[nix]
channel = "stable-24_05"

[deployment]
publicDir = "/"
deploymentTarget = "static"
run = ["sh", "-c", "node index.js"]

[workflows]
runButton = "Run Server"

[[workflows.workflow]]
name = "Run Server"
author = 41708006
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[ports]]
localPort = 5000
externalPort = 80
